.member_div{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.member_div >div{
    padding: 0.5rem;
}
.member_div >img{
    height: 3rem;
}

h1{
    padding: 1rem;
}

h2{
    padding: 0.8rem;
}
.room_h1{
    text-align: center;
}

.table>:not(caption)>*>*{
    padding: 1.4rem 0.8rem;
  } 
.table{
    width: 90%;
    background-color: beige;
}

  .tablealign{
    display: grid;
    align-items:end;
    margin: 2rem;
    grid-template-columns: 30% 70%;
} 

.setting-img{
    position: fixed;
    height: 4rem;
    right: 0;
    cursor: pointer;
    bottom: 0;
}

.room_main{
    position: relative;
    margin-bottom: 1rem;
}
.room_button{
    text-align: center;
}

.room_button >button{
    padding: 0.6rem 2.5rem;
    margin-top: 2rem;
    border-radius: 0.5rem;
    font-weight: 500;
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
  }

  .switch {
    position: relative;
    display: inline-block;
    width: 42px;
    height: 22px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: -0.5px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  .slider.round:before {
    border-radius: 50%;
  }
